---
layout: archive 
author_profile: true
header:
  overlay_image: assets/image/header/KakaoTalk_Photo_2023-03-04-15-26-53.jpeg
excerpt: "Research"
feature_row_pub:
  - #url: /research/conference/Robust-Real-time-RGB-D-Visual-Odometry-in-Dynamic-Environments-via-Rigid-Motion-Model/
    #image_path: /assets/image/thumbnail/IROS2019.jpg
    alt: "Battery Modeling"
    title: "Battery Modeling"
    excerpt: "I Used the COMSOL Multiphysics for my battery modeling. It is able to consider multiphysics phenomena combined with Electrochemistry and Heat transfer."
  - #url: /research/conference/Edge-Detection-for-Event-Cameras-using-Intra-pixel-area-Events/
    #image_path: /assets/image/thumbnail/event3D.gif
    alt: "Phase Transformation/Transition"
    title: "Phase Transformation/Transition"
    excerpt: "작성중"
  - #url: /_pages/icsl-de-dataset/index.html
    #image_path: /assets/image/thumbnail/dataset.jpg
    alt: "Degradation/Ion Transport"
    title: "Degradation/Ion Transport"
    excerpt: "작성중"
---

{% include feature_row id="feature_row_pub" caption="Featured Publications" %}

<h3 class="archive__subtitle">Publications</h3>

{% for post in site.categories.Research %}
	{% include archive-single.html type='post' %}
{% endfor %}
